.first-content,
.second-content,
.third-content,
.fourth-content,
.fifth-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.first-content {
    background-color: #71bf44;

}

.second-content {
    background-color: #b8d989;
}

.third-content {
    background-color: #f7931d;
}

.fourth-content {
    background-color: #f6f4f3;
}

.fifth-content {
    background-color: #708a97;
}